@charset "utf-8";
/* CSS Document */

nav, footer, section {
	background-color: darkcyan;
}

h1, p {
	color: white;
}

a {
	color: #7FC5C5;
}

a:hover {
	color:white;
}

.jumbotron {
	position: absolute;
	padding-top: 10%;
	top: 70px;
	margin: auto;
	width: 100%;
	z-index: 1;
}

.carousel {
	position: relative;
	top:70px;
	width: 100%;
	z-index: 0;
	margin-bottom: 7rem;
}
.carousel-image {
	width: 100%;
	padding: auto;
	margin: auto;
}

/* Small devices */
@media (min-width: 0px) {  
    h1 {font-size: 20px;}
	p {font-size: 14px;}
	.description {font-size: 10px;}
	.seperator {border-width: 1px; margin: 0.5rem auto 0.5rem;}
}

/* Medium devices */
@media (min-width: 544px) {  
    h1 {font-size: 42px;}
	.description {font-size: 15px;}
	.seperator {border-width: 2px; margin: 1rem auto 1rem;}
}

/* large devices */
@media (min-width: 756px) {  
    h1 {font-size: 62px;}
	p {font-size: 24px;}
	.description {font-size: 20px;}
	.seperator {border-width: 3px; margin: 1.5rem auto 1.5rem;}
}

@media (min-width: 1200) {
    h1 {font-size: 80px;}
	.description {font-size: 25px;}
	.seperator {border-width: 4px; margin: 2rem auto 2rem;}
}


.seperator {
	width: 50%;
	border-color: white;
}

.bio-text {
	padding-top: 5%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
	margin-bottom: 7rem;
}

.info {
	padding-top: 200px;
}

.parallax {
	margin-bottom: 7rem;
}

.pockethealer { 
 	background-image: url("../images/PH.png");

  	height: 680px;

  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
}

.inthegarden { 
 	background-image: url("../images/ITG.png");

  	height: 680px;

  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
}

.wordpress { 
 	background-image: url("../images/PH.png");

  	height: 680px;

  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
}

.emojiplace { 
 	background-image: url("../images/PH.png");

  	height: 680px;

  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
}

.contact, .bio {
	background-color: #00B1A9;
}

.contactform {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 4rem;
}

.submitbutton {
	width: 100%;
}