@charset "utf-8";
/* CSS Document */

nav {
	background-color: darkcyan;
}

.jumbotron {
	position: absolute;
	padding-top: 200px;
	top: 70px;
	width:100%;
	z-index: 1;
}

.carousel {
	position: absolute;
	top:70px;
	width: 100%;
	z-index: 0;
}
.carousel-image {
	width: 100%;
	padding: auto;
	margin: auto;
}

.jumbotron-seperator {
	width: 50%;
	border-width: 3px;
}