@charset "utf-8";
/* CSS Document */

nav {
	background-color: darkcyan;
}

.jumbotron {
	position: absolute;
	top: 70px;
	padding-top: 10%;
	padding-bottom: 10%;
	width:100%;
	z-index: 1;
}

.carousel {
	position: absolute;
	top:70px;
	width: 100%;
	z-index: 0;
}